 <h2>{{tieudeUser}}</h2>



    <form action="/user/login" method="POST" class="needs-validation" novalidate>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <!--- Login container-->
        <div class="row boder rounded-5 p-3 bg-white shadow box-area">
    <!--- left box-->
            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #AACBFF; border-radius: 4%;">
                <div class="fetured-image mb-3 ">
                    <img src="/LoginImage.jpg" class="img-fluid" style="width: 300px; ">
                </div>
                <p class="text-white fs-2" style=" font-family: 'Courier New', Courier, monospace;font-weight: 600;">Login Account</p>
                <small class="text-white text-wrap text-center" style="width: 17rem; font-family: 'Courier New', Courier, monospace ;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
            </div>    


            <!--- right box -->
            <div class="col-md-6 right-box">
                <div class="row align-items-center">
                    <div class="header-text mb-4">
                        <p> Nice to see you again</p>
                        <h2 style="font-weight: 30px;">WELCOME BACK</h2>    
                       
                    </div>
                    

                    <div class="input-group mb-3">
                        
                        <input type="email" class="form-control form-control-lg bg-light fs-6" name="Email" placeholder="Email Address" required>
                         <div class="invalid-feedback">
                            Your Name
                        </div>
                    </div>
                    <div class="input-group mb-1">
                        <input type="password" class="form-control form-control-lg bg-light fs-6" name = "Password" placeholder="Password" required>
                         <div class="invalid-feedback">
                            Your password
                        </div>
                    </div>
                    
                    <div class="input-group mb-5 d-flex justify-content-between">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="formCheck">
                               <label for="formCheck" class="form-check-label text-secondary"> <small> Remember Me</small></label>
                        </div>    
                        <div class="forgot">
                            <a href="/forgot"><small>Forgot Password ?</small></a>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <button type="submit" class="btn btn-lg btn-primary w-100 fs-6">Sign In</button>
                    </div>
                    <div class="input-group mb-3">
                        <button class="btn btn-lg btn-light w-100 fs-6"><img src="/Google.png" style="width: 20px;" class="me-2"><small>Sign In With Google</small></button>
                    </div>
                    <div class="input-group mb-3">
                        <button class="btn btn-lg btn-light w-100 fs-6"><img src="/Facebook.png" style="width: 20px;" class="me-2"><small>Sign In With Facebook</small></button>
                    </div>
                    <div class="row">
                        <small>Don't have account? <a href="/user/signup">Sign Up</a></small>

                    </div>
                </div>

            </div>   
            
        </div>
    </div>    
    </form>
