<h2>đây là trang quản lý</h2>
<div class="container text-center"></div>
<div class="row">
    <div class="col">
    <a href="/product/viewSP">QL sản phẩm</a>
   </div>
     <div class="col">
    <a href="/user/viewUser">QL Tài khoản</a>
   </div>
</div>

</div>