{{tieudeSV}}
<h2>Them sv</h2>
<a href="/sv/viewSV">xem danh sach sv</a>
<form action="/sv/addsv" method="POST">
    <div class="mb-3">
    <label class="form-label">Masv</label>
    <input type="input" class="form-control" name="Masv" />
    </div>
    <div class="mb-3">
    <label class="form-label">Ho ten</label>
    <input type="input" class="form-control" name="Ten" />
    </div>
    <div class="mb-3">
    <label class="form-label">lớp</label>
    <input type="input" class="form-control" name="Lop" />
    </div>
    <div class="mb-3">
    <label class="form-label">tuổi</label>
    <input type="input" class="form-control" name="Tuoi" />
    </div>
    <div class="mb-3">
    <label class="form-label">ngày sinh</label>
    <input type="input" class="form-control" name="Ngaysinh" />
    </div>
    <div class="mb-3">
    <label class="form-label">image</label>
    <input type="input" class="form-control" name="Hinh" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>