<div class="col-md-3 py-3 py-md-2">
    <div class="card">
        <img src="/{{itemProduct.Hinhanh}}" alt="" style="height: 320px; ;">
        <div class="card-body" style="height: 150px;">
            <h3>{{itemProduct.Tensp}}</h3>
            <p>{{itemProduct.MieuTa}}</p>
            <div class="star">
                <i class="fas fa-star checked"></i>
                <i class="fas fa-star checked"></i>
                <i class="fas fa-star checked"></i>
                <i class="fas fa-star checked"></i>
                <i class="fas fa-star checked"></i>
            </div>
            <h5>${{itemProduct.Gia}} <span><i class="fa-solid fa-cart-shopping"></i></span></h5>
        </div>
    </div>
</div>